$white: #ffffff !default;
$black: #000000 !default;

// -------- Colors -----------
$primary: #348fe4 !default;
$primary-hover: #1e83e1 !default;
$primary-dark: #358fe5 !default;
$primary-dark-hover: #2082e1 !default;

$primary-btn-shadow: rgba(53, 143, 229, 0.47) !default;
$primary-switch-border-color: rgba(52, 143, 228, 0.2) !default;

$primary-project: $primary-dark !default;
$primary-project-hover-bg: rgba(53, 143, 229, 0.08) !default;

$primary-okr: #ff9f00 !default;
$primary-okr-hover-bg: rgba(255, 159, 0, 0.06) !default;

$primary-dev: #00dbba !default;
$primary-dev-hover-bg: rgba(0, 219, 186, 0.06) !default;

$info: #909399 !default;
$success: #67c23a !default;
$normal: #d9d9d9 !default;
$warning: #e6a23c !default;
$error: #f56c6c !default;
$processing: #409eff !default;
$highlight: #f56c6c !default;

$content-bg: #f4f7f9 !default;

$iconify-bg-color: #5551 !default;

// =================================
// ==============border-color=======
// =================================

// Dark-dark
$border-color: #cececd !default;

$border-color-dark: #b6b7b9 !default;

// Dark-light
$border-color-shallow-dark: #cececd !default;

// Light-dark
$border-color-light: $border-color !default;

// =================================
// ==============message==============
// =================================

// success-bg-color
$success-background-color: #f1f9ec !default;
// info-bg-color
$info-background-color: #e8eff8 !default;
// warn-bg-color
$warning-background-color: #fdf6ed !default;
// danger-bg-color
$danger-background-color: #fef0f0 !default;

// =================================
// ==============Header=============
// =================================

$header-dark-bg-color: var(--header-bg-color) !default;
$header-dark-bg-hover-color: var(--header-bg-hover-color) !default;
$header-light-bg-hover-color: #f6f6f6 !default;
$header-light-desc-color: #7c8087 !default;
$header-light-bottom-border-color: #eee !default;
// top-menu
$top-menu-active-bg-color: var(--header-active-menu-bg-color) !default;

// =================================
// ==============Menu============
// =================================

// let -menu
$sider-dark-bg-color: var(--sider-dark-bg-color) !default;
$sider-dark-darken-bg-color: var(--sider-dark-darken-bg-color) !default;
$sider-dark-lighten-bg-color: var(--sider-dark-lighten-bg-color) !default;

// trigger
$trigger-dark-hover-bg-color: rgba(255, 255, 255, 0.2) !default;
$trigger-dark-bg-color: rgba(255, 255, 255, 0.1) !default;

// =================================
// ==============tree============
// =================================
// tree item hover background
$tree-hover-background-color: #f5f7fa !default;
// tree item hover font color
$tree-hover-font-color: #f5f7fa !default;

// =================================
// ==============link============
// =================================
$link-hover-color: $primary;
$link-active-color: darken($primary, 10%);

// =================================
// ==============Text color-=============
// =================================

// Main text color
$text-color: #bbbbbb !default;

$text-color-base: $text-color !default;

// Label color
$text-color-call-out: #606266 !default;

// Auxiliary information color-dark
$text-color-help-dark: #909399 !default;

// =================================
// ==============breadcrumb=========
// =================================
$breadcrumb-item-normal-color: #999 !default;

// =================================
// ==============button=============
// =================================
$button-primary-color: $primary !default;
$button-primary-hover-color: lighten($primary, 5%) !default;
$button-primary-active-color: darken($primary, 5%) !default;

$button-ghost-color: $white !default;
$button-ghost-hover-color: lighten($white, 10%) !default;
$button-ghost-hover-bg-color: #e1ebf6 !default;
$button-ghost-active-color: darken($white, 10%) !default;

$button-success-color: $success !default;
$button-success-hover-color: lighten($success, 10%) !default;
$button-success-active-color: darken($success, 10%) !default;

$button-warn-color: $warning !default;
$button-warn-hover-color: lighten($warning, 10%) !default;
$button-warn-active-color: darken($warning, 10%) !default;

$button-error-color: $error !default;
$button-error-hover-color: lighten($error, 10%) !default;
$button-error-active-color: darken($error, 10%) !default;

$button-cancel-color: $text-color-call-out !default;
$button-cancel-bg-color: $white !default;
$button-cancel-border-color: $border-color-shallow-dark !default;

// Mouse over
$button-cancel-hover-color: $primary !default;
$button-cancel-hover-bg-color: $white !default;
$button-cancel-hover-border-color: $primary !default;

$gray-70: #fdfdfd !default; // 内容区域背景色，用于整个内容的背景色，sidebar 背景色
$gray-80: #fafafa !default; // 选项鼠标移上去的背景色，主要用于表格 Hover 移上去的颜色 和表格的编号背景色,
$gray-100: #f3f3f3 !default; // 搜索框背景色，消息栏置顶色, 完成任务卡片颜色， Popbox Menu 移上去的背景色
$gray-200: #eeeeee !default; // 模块左侧导航鼠标移上去的阴影, 次分割线，部分控件描边, 消息评论图标使用
$gray-210: #e9e9e9 !default; // 整块区域的背景色为 #f3f3f3 后，某个卡片模块的背景色，用于文件详情
$gray-300: #dddddd !default; // 主分割线, 进度条背景色，三级图标色
$gray-400: #cacaca !default; // 搜索框默认文字， 禁用图标颜色, 部分图标颜色,
$gray-500: #aaaaaa !default; // 添加参与人,负责人等操作图标的边框颜色,说明文字, 搜索框文字
$gray-600: #888888 !default; // 次要文字,如 Tab 切换文字
$gray-700: #666666 !default; // 主要文字
$gray-800: #333333 !default; // 标题和重点文字

$font-family-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica Neue, Tahoma, PingFang SC, Microsoft Yahei, Arial,
Hiragino Sans GB, sans-serif;
$wrapper-width: 1200px !default;
$placeholder-color: #888a9e !default;
$hover-link-deep: $primary-hover !default;
$icon-color: #a5a5a5 !default;
